In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
stock_df = pd.read_csv("Combined_Stock_Data.csv")
stock_df

,Date,Open,High,Low,Close,Adj_Close,Volume,Symbol,Event
0,6/1/2018,2718.70,2736.93,2718.70,2734.62,2734.62,3684130000,GSPC,Rescheduled
1,5/25/2018,2723.60,2727.36,2714.99,2721.33,2721.33,2995260000,GSPC,Rescheduled
2,5/29/2018,2705.11,2710.67,2676.81,2689.86,2689.86,3736890000,GSPC,Rescheduled
3,5/30/2018,2702.43,2729.34,2702.43,2724.01,2724.01,3561050000,GSPC,Rescheduled
4,5/31/2018,2720.98,2722.50,2700.68,2705.27,2705.27,4235370000,GSPC,Rescheduled
5,6/8/2018,2765.84,2779.39,2763.59,2779.03,2779.03,3123210000,GSPC,Summit
6,6/11/2018,2780.18,2790.21,2780.17,2782.00,2782.00,3232330000,GSPC,Summit
7,6/12/2018,2785.60,2789.80,2778.78,2786.85,2786.85,3401010000,GSPC,Summit
8,6/13/2018,2787.94,2791.47,2774.65,2775.63,2775.63,3779230000,GSPC,Summit
9,6/14/2018,2783.21,2789.06,2776.52,2782.49,2782.49,3526890000,GSPC,Summit
10,6/1/2018,23.42,23.44,23.33,23.44,23.07,2300,EUXL,Rescheduled
11,5/25/2018,25.25,25.25,25.25,25.25,24.86,-,EUXL,Rescheduled
12,5/29/2018,22.45,22.70,21.45,21.78,21.44,9500,EUXL,Rescheduled
13,5/30/2018,22.90,23.30,22.60,23.17,22.81,8000,EUXL,Rescheduled
14,5/31/2018,22.63,22.79,22.50,22.79,22.43,9300,EUXL,Rescheduled
15,6/8/2018,23.96,23.96,23.96,23.96,23.59,300,EUXL,Summit
16,6/11/2018,24.58,24.79,24.58,24.79,24.40,2600,EUXL,Summit
17,6/12/2018,24.77,24.77,24.50,24.50,24.12,700,EUXL,Summit
18,6/13/2018,24.59,24.59,24.59,24.59,24.21,300,EUXL,Summit
19,6/14/2018,24.59,24.90,24.57,24.57,24.19,2000,EUXL,Summit
20,6/1/2018,8270.94,8347.58,8231.10,8290.68,8290.68,3684130000,DJA,Rescheduled
21,5/25/2018,8311.25,8372.12,8269.58,8323.08,8323.08,2995260000,DJA,Rescheduled
22,5/29/2018,8286.76,8315.46,8158.93,8216.47,8216.47,3736890000,DJA,Rescheduled
23,5/30/2018,8240.06,8352.97,8216.74,8319.06,8319.06,3561050000,DJA,Rescheduled
24,5/31/2018,8307.13,8337.44,8196.97,8234.53,8234.53,4235370000,DJA,Rescheduled
25,6/8/2018,8354.63,8427.27,8313.91,8397.13,8397.13,3123210000,DJA,Summit
26,6/11/2018,8403.40,8477.28,8351.97,8411.81,8411.81,3232330000,DJA,Summit
27,6/12/2018,8418.49,8486.33,8365.19,8433.63,8433.63,3401010000,DJA,Summit
28,6/13/2018,8437.81,8491.19,8360.09,8390.05,8390.05,3779230000,DJA,Summit
29,6/14/2018,8407.21,8469.70,8349.97,8401.05,8401.05,3526890000,DJA,Summit

In [3]:
class stocks(Base):
    __tablename__="stock_data"
    id = Column(Integer, primary_key=True)
    Date = Column(String)
    Open = Column(Float)
    High = Column(Float)
    Low = Column(Float)
    Close = Column(Float)
    Adj_Close = Column(Float)
    Volume = Column(Integer)
    Symbol = Column(String)
    Event = Column(String)

In [4]:
hashtag_df = pd.read_csv("Hashtags_combined.csv")
hashtag_df

            Hashtag  Count        Event
0              DPRK   3866       Summit
1               ROK   1636       Summit
2             Japan   1548       Summit
3    TrumpKimSummit    734       Summit
4   SingaporeSummit    690       Summit
5             China    360       Summit
6             Trump    330       Summit
7        NorthKorea    330       Summit
8              DPRK  19045  Rescheduled
9        NorthKorea   2794  Rescheduled
10         BREAKING   1130  Rescheduled
11            Trump    993  Rescheduled
12     AmericaFirst    515  Rescheduled
13    QuoteOfTheDay    475  Rescheduled
14           Lavrov    467  Rescheduled
15               US    397  Rescheduled

In [5]:
class hashtag(Base):
    __tablename__="hashtags"
    id = Column(Integer, primary_key=True)
    hashtag = Column(String)
    count = Column(Integer)
    event = Column(String)

In [6]:
engine = create_engine('sqlite:///stocks_hashtags_V1.sqlite', echo=False)
Base.metadata.create_all(engine)
session = Session(engine)

In [7]:
for index, row in stock_df.iterrows():
    print(row['Symbol'])
    session.add(stocks(Date = row['Date'], Open = row['Open'], High = row['High'], Low = row['Low'], Close = row['Close'], Adj_Close = row['Adj_Close'], Volume = row['Volume'], Symbol = row['Symbol'], Event = row['Event']))

for index, row in hashtag_df.iterrows():
    print(row['Hashtag'])
    session.add(hashtag(hashtag = row['Hashtag'], count = row['Count'], event = row['Event']))

GSPC
GSPC
GSPC
GSPC
GSPC
GSPC
GSPC
GSPC
GSPC
GSPC
EUXL
EUXL
EUXL
EUXL
EUXL
EUXL
EUXL
EUXL
EUXL
EUXL
DJA
DJA
DJA
DJA
DJA
DJA
DJA
DJA
DJA
DJA
DPRK
ROK
Japan
TrumpKimSummit
SingaporeSummit
China
Trump
NorthKorea
DPRK
NorthKorea
BREAKING
Trump
AmericaFirst
QuoteOfTheDay
Lavrov
US

In [8]:
session.commit()