In [19]:
import pandas as pd
import json
import pandas_datareader as pdr
import statistics
import numpy as np
import datetime as dt
import iexfinance as iexf

In [2]:
start = dt.datetime(2018,5,15)
end = dt.date.today()

In [71]:
url_head = "https://finance.yahoo.com/quote/%5E"
url_tail = "/history?p=%5"

yahoo_symbbol = ["DJA",
                "IXIC",
                "EUXL"]

yahoo_description = {"DJI": "Dow Jones Industrial Average",
                     "IXIC":"Nasdaq Composite",
                     "EUXL":"Direxion Daily Euro Stoxx 50 Bull 3x Shares"}

iex_symbol = ["DIA", "SPY", "EUXL"]
iex_name = ["SPDR Dow Jones Industrial Average", "SPDR S&P 500", "Direxion Daily Euro Stoxx 50 Bull 3x Shares"]

iex_col_data = ["symbol","date","open","high","low","close","volume"]
iex_col_dtypes = {
    "symbol":"object",
    "date":"datetime64[ns]",
    "open":"float64",
    "high":"float64",
    "low":"float64",
    "close":"float64",
    "volume":"float64"}

In [4]:
for sym in yahoo_symbbol:
    temp = pd.read_html(url_head+sym+url_tail+sym)
    globals()["yahoo_%s" %sym] = temp[0]

In [5]:
for stock in iex_symbol:
    globals()["iex_%s" %stock] = iexf.get_historical_data(stock)

In [72]:
temp_symbol = []
temp_date = []
temp_open = []
temp_high = []
temp_low = []
temp_close = []
temp_vol = []

temp_keys = iex_DIA["DIA"]

for key in temp_keys.keys():
    temp_symbol.append("DIA")
    temp_date.append(key)
    temp_open.append(temp_keys[key]["open"])
    temp_high.append(temp_keys[key]["high"])
    temp_low.append(temp_keys[key]["low"])
    temp_close.append(temp_keys[key]["close"])
    temp_vol.append(temp_keys[key]["volume"])

iex_DIA_df = pd.DataFrame(np.column_stack([temp_symbol, temp_date,temp_open, temp_high,temp_low,temp_close,temp_vol]),
                          columns=iex_col_data).astype(iex_col_dtypes)

In [73]:
temp_symbol = []
temp_date = []
temp_open = []
temp_high = []
temp_low = []
temp_close = []
temp_vol = []

temp_keys = iex_SPY["SPY"]

for key in temp_keys.keys():
    temp_symbol.append("SPY")
    temp_date.append(key)
    temp_open.append(temp_keys[key]["open"])
    temp_high.append(temp_keys[key]["high"])
    temp_low.append(temp_keys[key]["low"])
    temp_close.append(temp_keys[key]["close"])
    temp_vol.append(temp_keys[key]["volume"])

iex_SPY_df = pd.DataFrame(np.column_stack([temp_symbol, temp_date,temp_open, temp_high,temp_low,temp_close,temp_vol]),
                          columns=iex_col_data).astype(iex_col_dtypes)

In [74]:
temp_symbol = []
temp_date = []
temp_open = []
temp_high = []
temp_low = []
temp_close = []
temp_vol = []

temp_keys = iex_EUXL["EUXL"]

for key in temp_keys.keys():
    temp_symbol.append("EUXL")
    temp_date.append(key)
    temp_open.append(temp_keys[key]["open"])
    temp_high.append(temp_keys[key]["high"])
    temp_low.append(temp_keys[key]["low"])
    temp_close.append(temp_keys[key]["close"])
    temp_vol.append(temp_keys[key]["volume"])

iex_EUXL_df = pd.DataFrame(np.column_stack([temp_symbol, temp_date,temp_open, temp_high,temp_low,temp_close,temp_vol]),
                          columns=iex_col_data).astype(iex_col_dtypes)

In [75]:
iex_DIA_df

    symbol       date      open      high       low     close      volume
0      DIA 2015-01-02  164.9100  165.4454  163.3684  164.2546   4997212.0
1      DIA 2015-01-05  163.4423  163.5807  161.0423  161.3930   6700209.0
2      DIA 2015-01-06  161.6330  162.0392  159.0668  160.0545  10131406.0
3      DIA 2015-01-07  161.4023  162.2700  160.8392  162.0853   5546974.0
4      DIA 2015-01-08  163.6269  165.1962  163.5807  165.0115   7166658.0
5      DIA 2015-01-09  165.2146  165.2885  163.0454  163.5900   6646620.0
6      DIA 2015-01-12  163.7931  163.9684  161.9653  162.6854   4305292.0
7      DIA 2015-01-13  164.0515  165.2608  161.2638  162.4453   9913513.0
8      DIA 2015-01-14  160.1007  161.2823  159.1591  160.6730  11090635.0
9      DIA 2015-01-15  161.3007  161.6146  159.5191  159.7499   9293698.0
10     DIA 2015-01-16  159.4342  161.6516  159.0185  161.3744   8721910.0
11     DIA 2015-01-20  161.8918  162.2428  159.9609  161.5869   7224084.0
12     DIA 2015-01-21  160.9864  162.3722  160.4413  162.0026   6259314.0
13     DIA 2015-01-22  162.5292  164.5803  161.2266  164.3770   9565123.0
14     DIA 2015-01-23  164.1830  164.2846  162.9635  162.9820   4795306.0
15     DIA 2015-01-26  162.7510  163.2591  162.0304  163.0651   3730398.0
16     DIA 2015-01-27  160.2935  161.4483  159.4527  160.3766  11565051.0
17     DIA 2015-01-28  161.2635  161.3190  158.5288  158.6489   9673196.0
18     DIA 2015-01-29  159.0555  160.8201  158.0392  160.6630   9615220.0
19     DIA 2015-01-30  160.0163  160.7101  158.2332  158.3995  11138459.0
20     DIA 2015-02-02  158.8614  160.2288  157.1523  160.0810   9437852.0
21     DIA 2015-02-03  160.8755  162.9727  160.8478  162.9080   7543368.0
22     DIA 2015-02-04  162.4184  164.0501  162.3999  163.0928   5935850.0
23     DIA 2015-02-05  163.7857  165.0422  163.6102  164.9591   6037756.0
24     DIA 2015-02-06  165.2085  165.7074  163.9705  164.5341   7211861.0
25     DIA 2015-02-09  163.6933  164.3955  163.2314  163.6102   3723092.0
26     DIA 2015-02-10  164.6080  165.1438  163.6564  164.9221   3572674.0
27     DIA 2015-02-11  164.5341  165.4580  164.1460  165.0976   5174522.0
28     DIA 2015-02-12  165.6243  166.2294  165.3748  166.1510   3742736.0
29     DIA 2015-02-13  166.2987  166.7976  166.0770  166.6128   3998242.0
..     ...        ...       ...       ...       ...       ...         ...
846    DIA 2018-05-14  248.3363  249.1229  247.7788  248.1969   4286309.0
847    DIA 2018-05-15  247.0021  247.1116  245.4289  246.2454   4755865.0
848    DIA 2018-05-16  246.1159  247.2112  245.9078  246.9025   2034402.0
849    DIA 2018-05-17  246.7333  247.8212  245.8172  246.6735   2058226.0
850    DIA 2018-05-18  246.6010  247.1602  246.0518  246.6310   2408831.0
851    DIA 2018-05-21  248.8477  250.2955  248.8377  249.5666   4060299.0
852    DIA 2018-05-22  249.9959  250.0559  247.5496  247.8092   2329251.0
853    DIA 2018-05-23  246.4612  248.3284  246.0993  248.2585   3489376.0
854    DIA 2018-05-24  247.7593  248.0588  245.4827  247.5396   3448098.0
855    DIA 2018-05-25  247.0404  247.7293  246.3414  247.0004   4206996.0
856    DIA 2018-05-29  245.0134  245.8422  241.9480  243.0863   6439614.0
857    DIA 2018-05-30  244.8037  246.7907  244.2146  246.3314   4185861.0
858    DIA 2018-05-31  245.6325  245.6524  243.1462  243.8152   5357794.0
859    DIA 2018-06-01  245.7723  246.4612  245.2830  245.9919   3565273.0
860    DIA 2018-06-04  247.3499  248.2985  247.1702  247.8292   3062549.0
861    DIA 2018-06-05  247.7892  248.1053  246.7907  247.7793   2816404.0
862    DIA 2018-06-06  248.8676  251.1542  248.1787  251.1442   4102505.0
863    DIA 2018-06-07  251.8432  252.9915  251.3639  252.1527   4286770.0
864    DIA 2018-06-08  251.5836  253.0314  251.3909  252.8916   4450986.0
865    DIA 2018-06-11  253.2411  253.7793  252.6420  253.0114   4200206.0
866    DIA 2018-06-12  253.3609  253.3909  252.1827  252.9216   6531009.0
867    DIA 2018-06-13  253.0414  253.3725  251.6535  251.8032   3819019.0
868    DIA 2018-06-14  252.7818  253.1362  251.1642  251.6135   5006987.0
869    DIA 2018-06-15  250.2700  251.1950  248.7700  250.7400   6340812.0
870    DIA 2018-06-18  248.8000  249.9000  248.1400  249.7300   4075518.0
871    DIA 2018-06-19  246.6000  247.2300  245.5300  246.8800   5511050.0
872    DIA 2018-06-20  247.9600  247.9800  246.1200  246.4600   4711680.0
873    DIA 2018-06-21  245.8300  245.9400  243.9300  244.5000   4676606.0
874    DIA 2018-06-22  245.9200  246.5100  245.4400  245.6900   3653100.0
875    DIA 2018-06-25  244.1800  244.4000  240.7000  242.3100   9535988.0

[876 rows x 7 columns]