In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
hash_df = pd.read_csv("hashtags_counts_by_day.csv", encoding="latin-1")

In [3]:
hashtag_612 = hash_df[(hash_df["date"] > "2018-06-10") & (hash_df["date"] < "2018-06-15")]

hashtag_612 = hashtag_612.set_index("date")

hashtag_612 = pd.DataFrame(hashtag_612["hashtag"].value_counts().reset_index())

hashtag_612 = hashtag_612.rename(columns = {"index": "Hashtag", "hashtag": "Count"})

hashtag_612 = hashtag_612.set_index("Hashtag")

hashtag_612 = hashtag_612.iloc[0:8]

for index, row in hashtag_612.iterrows():
    hashtag_612.set_value(index, "Event", "Summit")

hashtag_612.to_csv("hashtag_June12.csv")

hashtag_612

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

                 Count   Event
Hashtag
DPRK              3866  Summit
ROK               1636  Summit
Japan             1548  Summit
TrumpKimSummit     734  Summit
SingaporeSummit    690  Summit
China              360  Summit
Trump              330  Summit
NorthKorea         330  Summit

In [4]:
hashtag_530 = hash_df[(hash_df["date"] > "2018-05-28") & (hash_df["date"] < "2018-06-02")]

hashtag_530 = hashtag_530.set_index("date")

hashtag_530 = pd.DataFrame(hashtag_530["hashtag"].value_counts().reset_index())

hashtag_530 = hashtag_530.rename(columns = {"index": "Hashtag", "hashtag": "Count"})

hashtag_530 = hashtag_530.set_index("Hashtag")

hashtag_530 = hashtag_530.iloc[0:8]

for index, row in hashtag_530.iterrows():
    hashtag_530.set_value(index, "Event", "Rescheduled")

hashtag_530.to_csv("hashtag_May30.csv")

hashtag_530

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

               Count        Event
Hashtag
DPRK           19045  Rescheduled
NorthKorea      2794  Rescheduled
BREAKING        1130  Rescheduled
Trump            993  Rescheduled
AmericaFirst     515  Rescheduled
QuoteOfTheDay    475  Rescheduled
Lavrov           467  Rescheduled
US               397  Rescheduled