In [1]:
import pandas as pd
import json
import statistics
import numpy as np
import datetime as dt
import iexfinance as iexf
import pyprind as bar

In [2]:
start = dt.date(2018,5,15)
end = dt.date(dt.date.today().year, dt.date.today().month,dt.date.today().day-1)
end_iexf = dt.date(dt.date.today().year, dt.date.today().month,dt.date.today().day-2)
end_t = dt.datetime(end.year,end.month,end.day-1, 4,0,0)

In [3]:
stock_symbols = ["MSFT",
                "INTC",
                "ORCL",
                "UPS",
                "FDX",
                "XOM",
                "BP"
                ]
stock_descriptions = {"MSFT":"Microsoft Corporation",
                      "INTC":"Intel Corporation",
                      "ORCL":"Oracle Corporation",
                      "UPS":"United Parcel Service Inc.",
                      "FDX":"FedEx Corporation",
                      "XOM":"Exxon Mobil Corporation",
                      "BP":"BP p.l.c."
                     }

#### Yahoo! Finance Data

In [4]:
start_utc = int(dt.datetime(2018,5,15,4,0,0).timestamp())
end_utc = int(end_t.timestamp())

yahoo_url = "https://finance.yahoo.com/quote/{0}/history?period1={1}&period2={2}&interval=1d&filter=history&frequency=1d"

yahoo_col_data = {"Date":"Date",
                  "Open":"Open",
                  "High":"High",
                  "Low":"Low",
                  "Close*":"Close",
                  "Adj Close**":"AdjClose",
                  "Volume":"Volume",
                  "Symbol":"Symbol"
}
yahoo_col_dtypes = {"Date":"datetime64[ns]",
                    "Open":"float64",
                    "High":"float64",
                    "Low":"float64",
                    "Close":"float64",
                    "AdjClose":"float64",
                    "Volume":"float64",
                    "Symbol":"object"
                   }

In [5]:
progress = bar.ProgBar(len(stock_symbols), monitor=True, title="Scraping Yahoo! Finance Historical Prices")
for sym in stock_symbols:
    label = sym.replace("^","")
    temp = pd.read_html(yahoo_url.format(sym,start_utc,end_utc))
    df = temp[0][:-1].copy()
    df["Symbol"] = label
    df.rename(columns=yahoo_col_data,inplace=True)
    df.replace(to_replace = "-", value = 0, inplace=True)
    df.drop_duplicates("Date", keep="first", inplace=True)
    df = df.astype(yahoo_col_dtypes)
    df = df.drop(columns="AdjClose")
    globals()["yahoo_%s" %label] = df
    globals()["yahoo_%s_df" %label] = globals()["yahoo_%s" %label].set_index("Date")
    globals()["yahoo_%s_df" %label].index = pd.to_datetime(globals()["yahoo_%s_df" %label].index)
    globals()["yahoo_%s_df" %label].sort_index(ascending = True, inplace = True)
    progress.update()

Scraping Yahoo! Finance Historical Prices
0% [#######] 100% | ETA: 00:00:00
Total time elapsed: 00:00:05

#### IEX Financial Data

In [6]:
iex_col_data = ["Date","Open","High","Low","Close","Volume","Symbol"]
iex_col_dtypes = {"Date":"datetime64[ns]",
                  "Open":"float64",
                  "High":"float64",
                  "Low":"float64",
                  "Close":"float64",
                  "Volume":"float64",
                  "Symbol":"object"
                 }

In [7]:
for stock in stock_symbols:
    globals()["iex_%s" %stock] = iexf.get_historical_data(stock, start=start, end=end_iexf)
    temp_date = []
    temp_open = []
    temp_high = []
    temp_low = []
    temp_close = []
    temp_vol = []
    temp_symbol = []

    temp_keys = globals()["iex_%s" %stock][stock]
    for key in temp_keys.keys():
        temp_date.append(key)
        temp_open.append(temp_keys[key]["open"])
        temp_high.append(temp_keys[key]["high"])
        temp_low.append(temp_keys[key]["low"])
        temp_close.append(temp_keys[key]["close"])
        temp_vol.append(temp_keys[key]["volume"])
        temp_symbol.append(stock)
    globals()["iex_%s" %stock] = pd.DataFrame(np.column_stack([temp_date,temp_open, temp_high,temp_low,temp_close,temp_vol,temp_symbol]),
                          columns=iex_col_data).astype(iex_col_dtypes)
    globals()["iex_%s_df" %stock] = globals()["iex_%s" %stock].set_index("Date")

##### Yahoo! Finance DataFrames with Date Index

In [8]:
yahoo_BP_df

             Open   High    Low  Close      Volume Symbol
Date
2018-05-15  46.51  46.99  46.27  46.79   7149600.0     BP
2018-05-16  46.80  46.82  46.43  46.71   4866500.0     BP
2018-05-17  47.01  47.37  46.93  47.19   7207900.0     BP
2018-05-18  47.30  47.44  47.14  47.38   4276600.0     BP
2018-05-21  47.38  47.83  47.38  47.79   5412100.0     BP
2018-05-22  47.37  47.71  46.93  47.09   7979900.0     BP
2018-05-23  46.13  46.51  45.90  46.45   7839900.0     BP
2018-05-24  45.67  45.94  45.40  45.75   7729200.0     BP
2018-05-25  44.82  44.83  44.09  44.35   9171300.0     BP
2018-05-29  44.19  44.68  44.06  44.54   7440700.0     BP
2018-05-30  45.47  45.90  45.24  45.71   7819700.0     BP
2018-05-31  45.84  46.00  45.59  45.82   5887300.0     BP
2018-06-01  46.17  46.21  45.80  45.92   4846000.0     BP
2018-06-04  46.32  46.45  45.92  45.96   5061100.0     BP
2018-06-05  46.00  46.50  45.85  46.29   5542400.0     BP
2018-06-06  46.44  46.55  46.12  46.28   5351400.0     BP
2018-06-07  46.97  47.57  46.79  47.20  10502400.0     BP
2018-06-08  47.31  47.39  46.67  47.04   4750200.0     BP
2018-06-11  46.96  47.32  46.83  47.12   3719500.0     BP
2018-06-12  46.71  46.78  45.81  46.12  11124700.0     BP
2018-06-13  45.99  46.22  45.80  46.01   8156300.0     BP
2018-06-14  46.51  46.91  46.34  46.44   5635400.0     BP
2018-06-15  45.91  46.00  45.03  45.13   7556400.0     BP
2018-06-18  45.03  45.58  45.02  45.35   5180200.0     BP
2018-06-19  44.95  45.21  44.76  45.15   4578300.0     BP
2018-06-20  45.19  45.22  44.50  44.76   5925700.0     BP
2018-06-21  44.61  44.63  44.12  44.16   5016700.0     BP
2018-06-22  45.82  46.17  45.70  45.78   8878700.0     BP
2018-06-25  44.92  44.99  44.05  44.24   6257800.0     BP
2018-06-26  44.98  45.10  44.51  44.89   8334200.0     BP

In [9]:
yahoo_FDX_df

              Open    High     Low   Close     Volume Symbol
Date
2018-05-15  249.48  249.58  246.25  247.34  1638200.0    FDX
2018-05-16  247.78  248.72  246.54  247.12  1101200.0    FDX
2018-05-17  247.69  250.23  247.28  248.46  1084000.0    FDX
2018-05-18  247.88  249.73  246.71  249.45  1195700.0    FDX
2018-05-21  251.00  254.94  250.68  254.66  1384200.0    FDX
2018-05-22  255.15  256.30  252.35  252.59  1011300.0    FDX
2018-05-23  252.02  252.02  248.62  250.47  1095500.0    FDX
2018-05-24  250.18  252.01  248.50  251.74  1399400.0    FDX
2018-05-25  250.86  253.18  250.86  251.50   841200.0    FDX
2018-05-29  250.23  251.46  246.31  247.61  1088600.0    FDX
2018-05-30  248.73  254.19  248.60  253.08  1201800.0    FDX
2018-05-31  253.55  253.55  248.80  249.12  1300900.0    FDX
2018-06-01  251.57  254.80  251.10  253.60  1128100.0    FDX
2018-06-04  254.71  256.50  251.64  251.88   917300.0    FDX
2018-06-05  251.56  252.75  249.75  252.00   953900.0    FDX
2018-06-06  253.93  256.74  251.51  256.55  1096300.0    FDX
2018-06-07  257.30  260.62  254.98  257.25  1758700.0    FDX
2018-06-08  256.97  260.41  256.75  260.15  1221800.0    FDX
2018-06-11  260.14  263.42  260.14  261.97  1424300.0    FDX
2018-06-12  263.59  266.67  263.19  265.53  1782400.0    FDX
2018-06-13  265.97  266.03  262.34  262.92  1147800.0    FDX
2018-06-14  264.00  264.08  261.36  263.48  1015600.0    FDX
2018-06-15  262.51  264.99  260.84  264.56  1363700.0    FDX
2018-06-18  263.09  264.65  261.58  263.67  1392400.0    FDX
2018-06-19  261.43  261.51  254.75  258.39  3160700.0    FDX
2018-06-20  257.31  257.31  251.09  251.43  3906200.0    FDX
2018-06-21  251.51  251.80  245.65  246.72  3665100.0    FDX
2018-06-22  247.90  248.14  241.50  241.77  2635600.0    FDX
2018-06-25  239.73  240.33  231.98  234.53  3605700.0    FDX
2018-06-26  235.60  237.93  233.70  236.85  1954200.0    FDX

In [10]:
yahoo_INTC_df

             Open   High    Low  Close      Volume Symbol
Date
2018-05-15  54.58  54.75  53.56  53.92  21712600.0   INTC
2018-05-16  54.17  54.70  53.96  54.64  16260500.0   INTC
2018-05-17  54.55  55.44  54.42  54.81  16872600.0   INTC
2018-05-18  54.53  54.54  53.47  53.50  23679900.0   INTC
2018-05-21  54.36  55.22  53.86  54.32  25367400.0   INTC
2018-05-22  54.73  55.05  54.05  54.45  19009600.0   INTC
2018-05-23  54.00  55.23  53.84  55.21  20496500.0   INTC
2018-05-24  55.18  55.30  54.13  54.75  19443000.0   INTC
2018-05-25  54.80  55.50  54.54  55.44  18550000.0   INTC
2018-05-29  55.12  55.81  54.81  55.32  24157300.0   INTC
2018-05-30  55.89  56.20  55.62  55.68  24711500.0   INTC
2018-05-31  55.67  55.86  55.06  55.20  30962100.0   INTC
2018-06-01  55.84  57.10  55.80  57.08  31121800.0   INTC
2018-06-04  57.01  57.60  56.78  56.83  22438900.0   INTC
2018-06-05  56.90  57.12  56.22  56.53  21687000.0   INTC
2018-06-06  56.53  57.06  56.08  57.03  22955400.0   INTC
2018-06-07  56.92  57.00  55.62  55.88  27596100.0   INTC
2018-06-08  55.56  55.70  54.66  55.05  30822900.0   INTC
2018-06-11  54.80  55.09  54.26  54.52  25752400.0   INTC
2018-06-12  54.87  55.03  54.22  54.82  23294900.0   INTC
2018-06-13  54.98  55.70  54.91  55.03  22631400.0   INTC
2018-06-14  55.45  55.86  55.18  55.54  23419800.0   INTC
2018-06-15  55.17  55.38  54.58  55.11  39194700.0   INTC
2018-06-18  54.30  54.30  52.34  53.22  40764400.0   INTC
2018-06-19  52.14  52.95  51.88  52.93  31780900.0   INTC
2018-06-20  53.19  53.75  52.69  53.46  21403000.0   INTC
2018-06-21  54.38  54.53  51.94  52.19  44435600.0   INTC
2018-06-22  52.62  53.09  52.30  52.50  34682100.0   INTC
2018-06-25  51.17  51.75  49.91  50.71  45356500.0   INTC
2018-06-26  49.95  50.41  49.36  49.67  37543000.0   INTC

In [11]:
yahoo_INTC_df

             Open   High    Low  Close      Volume Symbol
Date
2018-05-15  54.58  54.75  53.56  53.92  21712600.0   INTC
2018-05-16  54.17  54.70  53.96  54.64  16260500.0   INTC
2018-05-17  54.55  55.44  54.42  54.81  16872600.0   INTC
2018-05-18  54.53  54.54  53.47  53.50  23679900.0   INTC
2018-05-21  54.36  55.22  53.86  54.32  25367400.0   INTC
2018-05-22  54.73  55.05  54.05  54.45  19009600.0   INTC
2018-05-23  54.00  55.23  53.84  55.21  20496500.0   INTC
2018-05-24  55.18  55.30  54.13  54.75  19443000.0   INTC
2018-05-25  54.80  55.50  54.54  55.44  18550000.0   INTC
2018-05-29  55.12  55.81  54.81  55.32  24157300.0   INTC
2018-05-30  55.89  56.20  55.62  55.68  24711500.0   INTC
2018-05-31  55.67  55.86  55.06  55.20  30962100.0   INTC
2018-06-01  55.84  57.10  55.80  57.08  31121800.0   INTC
2018-06-04  57.01  57.60  56.78  56.83  22438900.0   INTC
2018-06-05  56.90  57.12  56.22  56.53  21687000.0   INTC
2018-06-06  56.53  57.06  56.08  57.03  22955400.0   INTC
2018-06-07  56.92  57.00  55.62  55.88  27596100.0   INTC
2018-06-08  55.56  55.70  54.66  55.05  30822900.0   INTC
2018-06-11  54.80  55.09  54.26  54.52  25752400.0   INTC
2018-06-12  54.87  55.03  54.22  54.82  23294900.0   INTC
2018-06-13  54.98  55.70  54.91  55.03  22631400.0   INTC
2018-06-14  55.45  55.86  55.18  55.54  23419800.0   INTC
2018-06-15  55.17  55.38  54.58  55.11  39194700.0   INTC
2018-06-18  54.30  54.30  52.34  53.22  40764400.0   INTC
2018-06-19  52.14  52.95  51.88  52.93  31780900.0   INTC
2018-06-20  53.19  53.75  52.69  53.46  21403000.0   INTC
2018-06-21  54.38  54.53  51.94  52.19  44435600.0   INTC
2018-06-22  52.62  53.09  52.30  52.50  34682100.0   INTC
2018-06-25  51.17  51.75  49.91  50.71  45356500.0   INTC
2018-06-26  49.95  50.41  49.36  49.67  37543000.0   INTC

In [12]:
yahoo_MSFT_df

              Open    High     Low   Close      Volume Symbol
Date
2018-05-15   97.24   97.85   96.34   97.32  24594000.0   MSFT
2018-05-16   97.36   97.40   96.62   97.15  17384700.0   MSFT
2018-05-17   96.76   97.54   95.83   96.18  17246700.0   MSFT
2018-05-18   96.01   96.93   96.01   96.36  17865800.0   MSFT
2018-05-21   97.00   98.01   96.80   97.60  19422500.0   MSFT
2018-05-22   97.68   98.17   97.20   97.50  15441200.0   MSFT
2018-05-23   96.71   98.73   96.32   98.66  21114800.0   MSFT
2018-05-24   98.73   98.94   96.81   98.31  21540800.0   MSFT
2018-05-25   98.30   98.98   97.86   98.36  18363900.0   MSFT
2018-05-29   97.84   98.88   97.23   98.01  28338000.0   MSFT
2018-05-30   98.31   99.25   97.91   98.95  22158500.0   MSFT
2018-05-31   99.29   99.99   98.61   98.84  34140900.0   MSFT
2018-06-01   99.28  100.86   99.17  100.79  28126200.0   MSFT
2018-06-04  101.26  101.86  100.85  101.67  27166800.0   MSFT
2018-06-05  102.00  102.33  101.53  102.19  23514400.0   MSFT
2018-06-06  102.48  102.60  101.90  102.49  21122900.0   MSFT
2018-06-07  102.65  102.69  100.38  100.88  28232200.0   MSFT
2018-06-08  101.09  101.95  100.54  101.63  22165100.0   MSFT
2018-06-11  101.01  101.59  100.67  101.05  23490900.0   MSFT
2018-06-12  101.10  101.45  100.75  101.31  18325200.0   MSFT
2018-06-13  101.72  102.01  100.56  100.85  29492900.0   MSFT
2018-06-14  101.65  102.03  101.00  101.42  25691800.0   MSFT
2018-06-15  101.51  101.53  100.07  100.13  65738600.0   MSFT
2018-06-18  100.01  101.11   99.42  100.86  23586000.0   MSFT
2018-06-19   99.65  101.00   99.50  100.86  28653100.0   MSFT
2018-06-20  101.37  102.52  101.12  101.87  26180800.0   MSFT
2018-06-21  102.08  102.46  100.88  101.14  23198200.0   MSFT
2018-06-22  100.41  100.77   99.63  100.41  38923100.0   MSFT
2018-06-25  100.00  100.11   97.30   98.39  35433300.0   MSFT
2018-06-26   98.82  100.08   98.75   99.08  26897200.0   MSFT

In [13]:
yahoo_ORCL_df

             Open   High    Low  Close      Volume Symbol
Date
2018-05-15  46.51  46.82  46.25  46.81  11304900.0   ORCL
2018-05-16  46.93  46.93  46.45  46.73   9874200.0   ORCL
2018-05-17  46.69  47.06  46.42  46.54  10162300.0   ORCL
2018-05-18  46.69  46.79  46.24  46.32  13517300.0   ORCL
2018-05-21  46.53  47.29  46.49  47.21  13416300.0   ORCL
2018-05-22  47.24  47.54  46.31  46.37  18505100.0   ORCL
2018-05-23  46.08  46.97  46.02  46.90   8921500.0   ORCL
2018-05-24  46.66  46.94  46.14  46.46  12496400.0   ORCL
2018-05-25  46.49  47.17  46.48  47.00  11354300.0   ORCL
2018-05-29  46.55  46.80  46.04  46.26  12367100.0   ORCL
2018-05-30  46.63  47.23  46.43  47.05  11906500.0   ORCL
2018-05-31  46.93  47.17  46.71  46.72  13062400.0   ORCL
2018-06-01  47.08  47.36  46.90  47.35  10797800.0   ORCL
2018-06-04  47.48  47.57  47.23  47.32  12141000.0   ORCL
2018-06-05  47.33  47.42  46.81  47.13  13430900.0   ORCL
2018-06-06  47.42  47.81  47.10  47.75  13299100.0   ORCL
2018-06-07  47.93  48.03  47.42  47.68  13714100.0   ORCL
2018-06-08  47.41  48.38  47.41  48.18  14515400.0   ORCL
2018-06-11  48.15  48.39  47.97  48.19  12521100.0   ORCL
2018-06-12  48.21  48.59  48.16  48.45  14713600.0   ORCL
2018-06-13  48.11  48.67  48.09  48.27  18053300.0   ORCL
2018-06-14  47.01  47.02  45.66  45.90  37001300.0   ORCL
2018-06-15  45.87  46.49  45.19  46.28  28120400.0   ORCL
2018-06-18  45.82  46.60  45.46  46.52  21474100.0   ORCL
2018-06-19  45.84  46.41  45.77  46.27  22764900.0   ORCL
2018-06-20  43.51  44.79  42.57  42.82  59129000.0   ORCL
2018-06-21  43.18  43.84  42.98  43.10  32635100.0   ORCL
2018-06-22  43.20  44.30  43.16  44.10  29735100.0   ORCL
2018-06-25  43.57  44.47  43.49  44.28  24640500.0   ORCL
2018-06-26  44.46  44.85  44.37  44.41  20717500.0   ORCL

In [14]:
yahoo_UPS_df

              Open    High     Low   Close     Volume Symbol
Date
2018-05-15  115.78  116.47  114.85  115.61  3480400.0    UPS
2018-05-16  115.54  116.67  115.53  116.32  1970000.0    UPS
2018-05-17  116.59  117.44  116.40  116.59  3697200.0    UPS
2018-05-18  115.67  115.93  115.10  115.38  2450900.0    UPS
2018-05-21  116.00  117.28  115.50  117.08  3333300.0    UPS
2018-05-22  117.01  117.14  115.29  115.36  2027100.0    UPS
2018-05-23  114.85  115.42  113.78  115.28  1974000.0    UPS
2018-05-24  115.38  115.81  114.41  115.63  2297300.0    UPS
2018-05-25  115.49  115.90  115.20  115.49  1583600.0    UPS
2018-05-29  114.87  114.95  113.01  113.83  2716600.0    UPS
2018-05-30  114.12  116.75  113.91  116.69  2911700.0    UPS
2018-05-31  116.46  116.83  115.91  116.12  5893000.0    UPS
2018-06-01  116.69  117.29  116.32  117.25  2205200.0    UPS
2018-06-04  117.61  118.27  116.92  116.97  2226100.0    UPS
2018-06-05  116.80  117.78  116.55  116.81  3341000.0    UPS
2018-06-06  117.00  117.51  115.90  117.02  2783700.0    UPS
2018-06-07  117.17  117.34  115.80  116.19  3106400.0    UPS
2018-06-08  116.15  116.65  115.74  116.60  2879800.0    UPS
2018-06-11  116.60  117.75  116.56  116.85  2004700.0    UPS
2018-06-12  117.61  119.17  117.32  118.34  3414600.0    UPS
2018-06-13  118.49  118.60  117.11  117.33  1668400.0    UPS
2018-06-14  117.44  117.73  116.55  117.19  1869300.0    UPS
2018-06-15  116.61  117.36  116.05  116.77  4286900.0    UPS
2018-06-18  116.19  117.30  115.80  116.77  2177100.0    UPS
2018-06-19  116.00  116.00  114.11  114.82  2739000.0    UPS
2018-06-20  114.75  114.78  113.53  113.65  3112600.0    UPS
2018-06-21  113.66  114.07  112.32  113.42  2721900.0    UPS
2018-06-22  114.90  115.79  113.63  113.70  3536300.0    UPS
2018-06-25  113.04  113.04  109.39  110.20  4044300.0    UPS
2018-06-26  110.39  110.70  109.20  109.57  2332300.0    UPS

In [15]:
yahoo_XOM_df

             Open   High    Low  Close      Volume Symbol
Date
2018-05-15  81.85  82.03  81.40  81.79  12595700.0    XOM
2018-05-16  81.76  82.05  81.17  82.02   9570000.0    XOM
2018-05-17  82.20  82.28  81.44  81.88  11224100.0    XOM
2018-05-18  81.55  81.80  81.26  81.30  10030900.0    XOM
2018-05-21  81.73  82.35  81.52  82.28   8822400.0    XOM
2018-05-22  82.44  82.65  81.35  81.64  10753400.0    XOM
2018-05-23  80.95  82.23  80.57  82.15  15140900.0    XOM
2018-05-24  81.35  81.36  79.95  80.27  13360500.0    XOM
2018-05-25  79.28  79.33  78.09  78.71  14562000.0    XOM
2018-05-29  78.15  78.73  77.53  78.42  14644800.0    XOM
2018-05-30  79.25  81.66  79.22  81.50  16627500.0    XOM
2018-05-31  80.81  81.55  80.69  81.24  15803100.0    XOM
2018-06-01  81.87  82.35  81.55  81.83   9906100.0    XOM
2018-06-04  82.05  82.53  80.81  80.97  10954700.0    XOM
2018-06-05  80.59  81.65  80.41  80.68  12059300.0    XOM
2018-06-06  81.48  82.09  80.87  82.06  11603300.0    XOM
2018-06-07  82.73  83.29  82.56  82.88  13502500.0    XOM
2018-06-08  83.11  83.66  82.50  83.60  14350400.0    XOM
2018-06-11  83.72  83.79  82.93  83.10  10831600.0    XOM
2018-06-12  83.11  83.75  82.32  82.42  12351800.0    XOM
2018-06-13  82.44  82.60  81.47  81.51  12049300.0    XOM
2018-06-14  81.94  82.30  81.50  81.89  11477300.0    XOM
2018-06-15  81.72  81.82  80.51  80.66  23797500.0    XOM
2018-06-18  80.40  81.38  80.30  80.82   9192600.0    XOM
2018-06-19  79.89  80.96  79.71  80.70   8759700.0    XOM
2018-06-20  80.85  81.13  80.27  80.45   8917700.0    XOM
2018-06-21  80.02  80.38  79.33  79.69  10990700.0    XOM
2018-06-22  81.16  81.94  80.92  81.38  16012200.0    XOM
2018-06-25  80.78  81.24  79.30  79.74  10557200.0    XOM
2018-06-26  80.15  81.01  79.97  80.64  10382800.0    XOM

##### IEX Financial DataFrames with Date Index

In [16]:
iex_BP_df

             Open     High      Low  Close      Volume Symbol
Date
2018-05-15  46.51  46.9853  46.2700  46.79   7149574.0     BP
2018-05-16  46.80  46.8200  46.4300  46.71   4866498.0     BP
2018-05-17  47.01  47.3700  46.9331  47.19   7207915.0     BP
2018-05-18  47.30  47.4350  47.1442  47.38   4276638.0     BP
2018-05-21  47.38  47.8300  47.3800  47.79   5412095.0     BP
2018-05-22  47.37  47.7050  46.9300  47.09   7979923.0     BP
2018-05-23  46.13  46.5100  45.9000  46.45   7871671.0     BP
2018-05-24  45.67  45.9400  45.4000  45.75   7917840.0     BP
2018-05-25  44.82  44.8300  44.0900  44.35   9171285.0     BP
2018-05-29  44.19  44.6800  44.0600  44.54   7449743.0     BP
2018-05-30  45.47  45.8950  45.2400  45.71   7819659.0     BP
2018-05-31  45.84  45.9950  45.5850  45.82   5887272.0     BP
2018-06-01  46.17  46.2100  45.8000  45.92   4845996.0     BP
2018-06-04  46.32  46.4500  45.9150  45.96   5061709.0     BP
2018-06-05  46.00  46.5000  45.8450  46.29   5542413.0     BP
2018-06-06  46.44  46.5500  46.1200  46.28   5351446.0     BP
2018-06-07  46.97  47.5700  46.7850  47.20  10502384.0     BP
2018-06-08  47.31  47.3901  46.6700  47.04   4750234.0     BP
2018-06-11  46.96  47.3200  46.8300  47.12   3719609.0     BP
2018-06-12  46.71  46.7799  45.8100  46.12  11124660.0     BP
2018-06-13  45.99  46.2150  45.7950  46.01   8156289.0     BP
2018-06-14  46.51  46.9100  46.3385  46.44   5635414.0     BP
2018-06-15  45.91  45.9950  45.0250  45.13   7556375.0     BP
2018-06-18  45.03  45.5800  45.0200  45.35   5183094.0     BP
2018-06-19  44.95  45.2135  44.7600  45.15   4578339.0     BP
2018-06-20  45.19  45.2200  44.5000  44.76   5925684.0     BP
2018-06-21  44.61  44.6333  44.1200  44.16   5016745.0     BP
2018-06-22  45.82  46.1700  45.7000  45.78   8881639.0     BP
2018-06-25  44.92  44.9900  44.0500  44.24   6257761.0     BP
2018-06-26  44.98  45.1000  44.5050  44.89   8334206.0     BP

In [17]:
iex_FDX_df

                Open      High       Low     Close     Volume Symbol
Date
2018-05-15  248.8226  248.9224  245.6011  246.6883  1638203.0    FDX
2018-05-16  247.1271  248.0627  245.8904  246.4688  1101189.0    FDX
2018-05-17  247.0373  249.5706  246.6287  247.8053  1083981.0    FDX
2018-05-18  247.2268  249.0720  246.0599  248.7927  1195706.0    FDX
2018-05-21  250.3386  254.2682  250.0195  253.9890  1384222.0    FDX
2018-05-22  254.4777  255.6247  251.6851  251.9244  1011323.0    FDX
2018-05-23  251.3559  251.3559  247.9649  249.8100  1106812.0    FDX
2018-05-24  249.5208  251.3460  247.8452  251.0767  1496280.0    FDX
2018-05-25  250.1990  252.5129  250.1990  250.8373   841197.0    FDX
2018-05-29  249.5706  250.7974  245.6610  246.9575  1159706.0    FDX
2018-05-30  248.0746  253.5202  247.9449  252.4131  1201849.0    FDX
2018-05-31  252.8819  252.8819  248.1444  248.4636  1300923.0    FDX
2018-06-01  250.9071  254.1286  250.4384  252.9318  1174549.0    FDX
2018-06-04  254.0388  255.8240  250.9769  251.2163   919305.0    FDX
2018-06-05  250.8971  252.0840  249.0919  251.3360   953946.0    FDX
2018-06-06  253.2609  256.0635  250.8473  255.8740  1096295.0    FDX
2018-06-07  256.6220  259.9333  254.3031  256.5721  1758740.0    FDX
2018-06-08  256.2929  259.7238  256.0735  259.4645  1221783.0    FDX
2018-06-11  259.4545  262.7259  259.4545  261.2797  1424278.0    FDX
2018-06-12  262.8954  265.9673  262.4965  264.8303  1782413.0    FDX
2018-06-13  265.2692  265.3290  261.6487  262.2272  1147804.0    FDX
2018-06-14  263.3044  263.3841  260.6713  262.7857  1015600.0    FDX
2018-06-15  261.8183  264.2918  260.1561  263.8629  1363654.0    FDX
2018-06-18  262.3968  263.9526  260.8907  262.9752  1399768.0    FDX
2018-06-19  260.7411  260.8209  254.0787  257.7091  3160686.0    FDX
2018-06-20  256.6320  256.6320  250.4284  250.7675  3906190.0    FDX
2018-06-21  250.8473  251.1365  245.0007  246.0699  3665126.0    FDX
2018-06-22  247.9000  248.1400  241.5000  241.7700  2687932.0    FDX
2018-06-25  239.7300  240.3300  231.9800  234.5300  3605680.0    FDX
2018-06-26  235.6000  237.9300  233.7000  236.8500  1954296.0    FDX

In [18]:
iex_INTC_df

             Open     High     Low  Close      Volume Symbol
Date
2018-05-15  54.58  54.7500  53.560  53.92  21712649.0   INTC
2018-05-16  54.17  54.7000  53.955  54.64  16260459.0   INTC
2018-05-17  54.55  55.4400  54.420  54.81  16872598.0   INTC
2018-05-18  54.53  54.5400  53.470  53.50  23679944.0   INTC
2018-05-21  54.36  55.2200  53.860  54.32  25367377.0   INTC
2018-05-22  54.73  55.0500  54.050  54.45  19009588.0   INTC
2018-05-23  54.00  55.2300  53.840  55.21  20555425.0   INTC
2018-05-24  55.18  55.3000  54.130  54.75  19667095.0   INTC
2018-05-25  54.80  55.5000  54.540  55.44  18549989.0   INTC
2018-05-29  55.12  55.8100  54.810  55.32  24253509.0   INTC
2018-05-30  55.89  56.2000  55.615  55.68  24711519.0   INTC
2018-05-31  55.67  55.8600  55.060  55.20  30962105.0   INTC
2018-06-01  55.84  57.1000  55.800  57.08  31183166.0   INTC
2018-06-04  57.01  57.5995  56.775  56.83  22538053.0   INTC
2018-06-05  56.90  57.1200  56.215  56.53  21687019.0   INTC
2018-06-06  56.53  57.0600  56.080  57.03  22955355.0   INTC
2018-06-07  56.92  57.0000  55.620  55.88  27596110.0   INTC
2018-06-08  55.56  55.7000  54.660  55.05  30822854.0   INTC
2018-06-11  54.80  55.0900  54.260  54.52  25752361.0   INTC
2018-06-12  54.87  55.0300  54.220  54.82  23294943.0   INTC
2018-06-13  54.98  55.7000  54.910  55.03  22631436.0   INTC
2018-06-14  55.45  55.8600  55.180  55.54  23419829.0   INTC
2018-06-15  55.17  55.3800  54.580  55.11  39194688.0   INTC
2018-06-18  54.30  54.3000  52.340  53.22  40764444.0   INTC
2018-06-19  52.14  52.9500  51.880  52.93  31780850.0   INTC
2018-06-20  53.19  53.7450  52.690  53.46  21403035.0   INTC
2018-06-21  54.38  54.5300  51.940  52.19  44435555.0   INTC
2018-06-22  52.62  53.0900  52.300  52.50  34682074.0   INTC
2018-06-25  51.17  51.7500  49.910  50.71  45356466.0   INTC
2018-06-26  49.95  50.4100  49.360  49.67  37543003.0   INTC

In [19]:
iex_MSFT_df

                Open      High       Low   Close      Volume Symbol
Date
2018-05-15   96.8203   97.4277   95.9242   96.90  24594010.0   MSFT
2018-05-16   97.3600   97.4000   96.6150   97.15  17384742.0   MSFT
2018-05-17   96.7600   97.5401   95.8300   96.18  17246716.0   MSFT
2018-05-18   96.0100   96.9300   96.0100   96.36  17865840.0   MSFT
2018-05-21   97.0000   98.0100   96.8000   97.60  19422467.0   MSFT
2018-05-22   97.6800   98.1700   97.2000   97.50  15441189.0   MSFT
2018-05-23   96.7100   98.7300   96.3200   98.66  21251222.0   MSFT
2018-05-24   98.7250   98.9400   96.8100   98.31  26649287.0   MSFT
2018-05-25   98.3000   98.9800   97.8600   98.36  18363918.0   MSFT
2018-05-29   97.8400   98.8800   97.2300   98.01  28670981.0   MSFT
2018-05-30   98.3100   99.2500   97.9100   98.95  22158528.0   MSFT
2018-05-31   99.2900   99.9900   98.6100   98.84  34140891.0   MSFT
2018-06-01   99.2798  100.8600   99.1700  100.79  28655624.0   MSFT
2018-06-04  101.2600  101.8600  100.8510  101.67  27281623.0   MSFT
2018-06-05  102.0000  102.3300  101.5300  102.19  23514402.0   MSFT
2018-06-06  102.4800  102.6000  101.9000  102.49  21122917.0   MSFT
2018-06-07  102.6500  102.6900  100.3800  100.88  28232197.0   MSFT
2018-06-08  101.0924  101.9500  100.5400  101.63  22165128.0   MSFT
2018-06-11  101.3700  101.5900  100.6700  101.05  23490894.0   MSFT
2018-06-12  101.1000  101.4493  100.7500  101.31  18325228.0   MSFT
2018-06-13  101.7200  102.0100  100.5600  100.85  29492875.0   MSFT
2018-06-14  101.6500  102.0300  101.0000  101.42  25691811.0   MSFT
2018-06-15  101.5100  101.5300  100.0700  100.13  65738585.0   MSFT
2018-06-18  100.0100  101.1100   99.4200  100.86  23586037.0   MSFT
2018-06-19   99.6500  101.0000   99.5000  100.86  28653087.0   MSFT
2018-06-20  101.3700  102.5200  101.1200  101.87  26180792.0   MSFT
2018-06-21  102.0750  102.4600  100.8800  101.14  23198188.0   MSFT
2018-06-22  100.4100  100.7700   99.6250  100.41  38923105.0   MSFT
2018-06-25  100.0000  100.1100   97.3000   98.39  35433333.0   MSFT
2018-06-26   98.8200  100.0800   98.7500   99.08  26897244.0   MSFT

In [20]:
iex_ORCL_df

             Open    High      Low  Close      Volume Symbol
Date
2018-05-15  46.51  46.820  46.2500  46.81  11304873.0   ORCL
2018-05-16  46.93  46.930  46.4500  46.73   9874195.0   ORCL
2018-05-17  46.69  47.055  46.4200  46.54  10162341.0   ORCL
2018-05-18  46.69  46.790  46.2400  46.32  13517330.0   ORCL
2018-05-21  46.53  47.285  46.4900  47.21  13416333.0   ORCL
2018-05-22  47.24  47.540  46.3100  46.37  18505113.0   ORCL
2018-05-23  46.08  46.970  46.0200  46.90   9204379.0   ORCL
2018-05-24  46.66  46.940  46.1400  46.46  12497658.0   ORCL
2018-05-25  46.49  47.165  46.4800  47.00  11354337.0   ORCL
2018-05-29  46.55  46.800  46.0350  46.26  12427752.0   ORCL
2018-05-30  46.63  47.230  46.4300  47.05  11906539.0   ORCL
2018-05-31  46.93  47.170  46.7100  46.72  13062416.0   ORCL
2018-06-01  47.08  47.360  46.9000  47.35  10863237.0   ORCL
2018-06-04  47.48  47.570  47.2300  47.32  12178443.0   ORCL
2018-06-05  47.33  47.420  46.8050  47.13  13430887.0   ORCL
2018-06-06  47.42  47.805  47.1000  47.75  13299094.0   ORCL
2018-06-07  47.93  48.030  47.4200  47.68  13714092.0   ORCL
2018-06-08  47.41  48.380  47.4100  48.18  14515405.0   ORCL
2018-06-11  48.15  48.390  47.9700  48.19  12521110.0   ORCL
2018-06-12  48.21  48.590  48.1550  48.45  14713577.0   ORCL
2018-06-13  48.11  48.670  48.0900  48.27  18053335.0   ORCL
2018-06-14  47.01  47.020  45.6600  45.90  37001333.0   ORCL
2018-06-15  45.87  46.490  45.1900  46.28  28120363.0   ORCL
2018-06-18  45.82  46.600  45.4600  46.52  21474089.0   ORCL
2018-06-19  45.84  46.410  45.7700  46.27  22764939.0   ORCL
2018-06-20  43.51  44.790  42.5700  42.82  59129004.0   ORCL
2018-06-21  43.18  43.840  42.9800  43.10  32635062.0   ORCL
2018-06-22  43.20  44.300  43.1600  44.10  30594322.0   ORCL
2018-06-25  43.57  44.465  43.4905  44.28  24640543.0   ORCL
2018-06-26  44.46  44.850  44.3700  44.41  20717461.0   ORCL

In [21]:
iex_UPS_df

                Open      High       Low     Close     Volume Symbol
Date
2018-05-15  114.8763  115.5610  113.9536  114.7077  3480370.0    UPS
2018-05-16  114.6382  115.7544  114.6283  115.4121  1970011.0    UPS
2018-05-17  115.6800  116.5234  115.4915  115.6800  3697242.0    UPS
2018-05-18  115.6700  115.9300  115.1000  115.3800  2450899.0    UPS
2018-05-21  116.0000  117.2800  115.5000  117.0800  3333298.0    UPS
2018-05-22  117.0100  117.1400  115.2900  115.3600  2027096.0    UPS
2018-05-23  114.8500  115.4200  113.7800  115.2800  2013573.0    UPS
2018-05-24  115.3800  115.8100  114.4100  115.6300  2303415.0    UPS
2018-05-25  115.4900  115.9000  115.2000  115.4900  1583600.0    UPS
2018-05-29  114.8700  114.9450  113.0100  113.8300  2724133.0    UPS
2018-05-30  114.1200  116.7450  113.9100  116.6900  2911664.0    UPS
2018-05-31  116.4600  116.8300  115.9100  116.1200  5892979.0    UPS
2018-06-01  116.6900  117.2900  116.3200  117.2500  2237794.0    UPS
2018-06-04  117.6100  118.2700  116.9200  116.9700  2248463.0    UPS
2018-06-05  116.8000  117.7800  116.5500  116.8100  3340955.0    UPS
2018-06-06  117.0000  117.5100  115.9000  117.0200  2783746.0    UPS
2018-06-07  117.1700  117.3400  115.8000  116.1900  3106423.0    UPS
2018-06-08  116.1500  116.6500  115.7400  116.6000  2879849.0    UPS
2018-06-11  116.6000  117.7500  116.5600  116.8500  2004717.0    UPS
2018-06-12  117.6100  119.1700  117.3200  118.3400  3414619.0    UPS
2018-06-13  118.4900  118.6000  117.1100  117.3300  1668429.0    UPS
2018-06-14  117.4400  117.7300  116.5500  117.1900  1869327.0    UPS
2018-06-15  116.6100  117.3600  116.0500  116.7700  4286897.0    UPS
2018-06-18  116.1900  117.3000  115.8000  116.7700  2177149.0    UPS
2018-06-19  116.0000  116.0000  114.1134  114.8200  2738983.0    UPS
2018-06-20  114.7500  114.7800  113.5300  113.6500  3112626.0    UPS
2018-06-21  113.6600  114.0700  112.3210  113.4200  2721855.0    UPS
2018-06-22  114.9000  115.7900  113.6300  113.7000  3661109.0    UPS
2018-06-25  113.0400  113.0400  109.3900  110.2000  4044331.0    UPS
2018-06-26  110.3900  110.7000  109.2000  109.5700  2332333.0    UPS

In [22]:
iex_XOM_df

             Open     High     Low  Close      Volume Symbol
Date
2018-05-15  81.85  82.0300  81.400  81.79  12595736.0    XOM
2018-05-16  81.76  82.0450  81.170  82.02   9569958.0    XOM
2018-05-17  82.20  82.2800  81.440  81.88  11224123.0    XOM
2018-05-18  81.55  81.8000  81.260  81.30  10030931.0    XOM
2018-05-21  81.73  82.3500  81.520  82.28   8822364.0    XOM
2018-05-22  82.44  82.6500  81.350  81.64  10753428.0    XOM
2018-05-23  80.95  82.2300  80.570  82.15  15140896.0    XOM
2018-05-24  81.35  81.3600  79.950  80.27  13360454.0    XOM
2018-05-25  79.28  79.3300  78.090  78.71  14561988.0    XOM
2018-05-29  78.15  78.7300  77.530  78.42  14644813.0    XOM
2018-05-30  79.25  81.6600  79.220  81.50  16627467.0    XOM
2018-05-31  80.81  81.5500  80.690  81.24  15803095.0    XOM
2018-06-01  81.87  82.3500  81.550  81.83   9906117.0    XOM
2018-06-04  82.05  82.5300  80.805  80.97  10954709.0    XOM
2018-06-05  80.59  81.6500  80.410  80.68  12059328.0    XOM
2018-06-06  81.48  82.0900  80.870  82.06  11603278.0    XOM
2018-06-07  82.73  83.2900  82.560  82.88  13502457.0    XOM
2018-06-08  83.11  83.6600  82.500  83.60  14350376.0    XOM
2018-06-11  83.72  83.7900  82.930  83.10  10831599.0    XOM
2018-06-12  83.11  83.7500  82.320  82.42  12351787.0    XOM
2018-06-13  82.44  82.6000  81.470  81.51  12049278.0    XOM
2018-06-14  81.94  82.2999  81.500  81.89  11477252.0    XOM
2018-06-15  81.72  81.8200  80.510  80.66  23797456.0    XOM
2018-06-18  80.40  81.3800  80.300  80.82   9192567.0    XOM
2018-06-19  79.89  80.9601  79.710  80.70   8759708.0    XOM
2018-06-20  80.85  81.1300  80.270  80.45   8917708.0    XOM
2018-06-21  80.02  80.3800  79.325  79.69  10990663.0    XOM
2018-06-22  81.16  81.9401  80.920  81.38  16707364.0    XOM
2018-06-25  80.78  81.2400  79.300  79.74  10557249.0    XOM
2018-06-26  80.15  81.0146  79.970  80.64  10382781.0    XOM