In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
stocks_df = pd.read_csv("old/Combined_Stock_Data.csv")
stocks_df.head(10)

,Date,Open,High,Low,Close,Adj_Close,Volume,Symbol,Event
0,6/1/2018,2718.70,2736.93,2718.70,2734.62,2734.62,3684130000,GSPC,Rescheduled
1,5/25/2018,2723.60,2727.36,2714.99,2721.33,2721.33,2995260000,GSPC,Rescheduled
2,5/29/2018,2705.11,2710.67,2676.81,2689.86,2689.86,3736890000,GSPC,Rescheduled
3,5/30/2018,2702.43,2729.34,2702.43,2724.01,2724.01,3561050000,GSPC,Rescheduled
4,5/31/2018,2720.98,2722.50,2700.68,2705.27,2705.27,4235370000,GSPC,Rescheduled
5,6/8/2018,2765.84,2779.39,2763.59,2779.03,2779.03,3123210000,GSPC,Summit
6,6/11/2018,2780.18,2790.21,2780.17,2782.00,2782.00,3232330000,GSPC,Summit
7,6/12/2018,2785.60,2789.80,2778.78,2786.85,2786.85,3401010000,GSPC,Summit
8,6/13/2018,2787.94,2791.47,2774.65,2775.63,2775.63,3779230000,GSPC,Summit
9,6/14/2018,2783.21,2789.06,2776.52,2782.49,2782.49,3526890000,GSPC,Summit

In [4]:
class stocks(Base):
    __tablename__="stock_data"
    id = Column(Integer, primary_key=True)
    date = Column(String)
    open = Column(Float)
    high = Column(Float)
    low = Column(Float)
    close = Column(Float)
    ADJ_close = Column(Float)
    volume = Column(Integer)
    symbol = Column(String)
    event = Column(String)

C:\Users\micha\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.stocks, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'stock_data' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [5]:
engine = create_engine('sqlite:///old/stocks_combined.sqlite', echo=False)
Base.metadata.create_all(engine)
session = Session(engine)

In [ ]:
for index, row in stocks_df.iterrows():
    print(row['Date'])
        session.add(stocks(date = row['Date'], open = row['Open'], high = row['High'], low = row['Low'], close = row['Close'], volume = row['Volume'], symbol = row['Symbol'], source = row['Source'], event = row['Event']))